@model string


<h3>Server Side Client WebAPI Sample</h3>

<ul>
    <li><a asp-action="Process">Calling Generic WebAPI</a> </li>
    <li><a asp-action="ProcessAPIJWT">Calling SuperSimpleAPIJWT (must be running...)</a> </li>
</ul>


